.slick-track {
    display: flex !important;
    justify-content: center;
}

.item-package {
    display: flex;
    justify-content: space-between;
}
.img-itemPack {
    width: 85px;
    height: 85px;
}
.content-pack {
    position: relative;
}
.content-pack-inputs {
    margin-left: 20px;
}
.content-pack .dim {
    position: absolute;
}
.content-pack .dim.dim-height {
    left: -20px;
    top: 20px;
}
.content-pack .dim.dim-length {
    bottom: -28px;
    left: 20px;
}
.content-pack .dim.dim-width {
    bottom: -20px;
    right: 5px;
}

.content-pack .dim.dim-pheight {
    left: -20px;
    top: 20px;
}
.content-pack .dim.dim-plength {
    bottom: 5px;
    left: 10px;
}
.content-pack .dim.dim-pwidth {
    bottom: 5px;
    right: 5px;
}
.BrandsAutoContainer {
    position: absolute;
    background: #1a223f;
    width: 100%;
    z-index: 2000;
    top: 100%;
    box-shadow: 7px 9px 6px -3px rgba(0, 0, 0, 0.59);
}
.BrandsAutoContainer .btn-add {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.brandsOption:hover,
.categoryOption:hover {
    border: 1px solid #2196f3;
    cursor: pointer;
}
