.bubble-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .bubble {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: #F3F3F3;
    color: black;
    max-width: 70%;
  }
  
  .bubble::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #F3F3F3 transparent transparent transparent;
    right: -7px;
    bottom: 12px;
  }
  